In [6]:
a =  "string data"
b = 123
c = 12.34
d = True
e = [1,2,3,4]
f = {"a":1, "b":2}
g = (1,2,3)
print(type(a))
print(type(b))
print( type(c))
print(type(d))
print(type(e))
print(type(f))
print(type(g))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'list'>
<class 'dict'>
<class 'tuple'>

In [7]:
# sum of two numbers
num1 = 10
num2 = 20
print(num1 + num2)

30

In [8]:
num3 = num1 + 7
print(num3*num2)

340

In [13]:
name = input("enter your name:")

if name == "reetesh":
    print("hello reetesh")  

else:

    print("who are you ?")

who are you ?

In [19]:
a = [2,2,3,4,3,2,4,2235,2,53,2,34]

def even_num(lis):
    b = []
    c = []
    for i in lis:
        if i%2==0:
            b.append(i)
        else:
            c.append(i)

    return f"even num list-> {b}", f"odd num list ->{c}" 

print(even_num(list(a)))

('even num list-> [2, 2, 4, 2, 4, 2, 2, 34]', 'odd num list ->[3, 3, 2235, 53]')

In [15]:
# using for loops

name = "abcdaeesdsdfvcabcdde"



di = {}
for i,j in enumerate(name):
    # print(i,j)
    if j in di:
        di[j] = di[j]+1
    else:
        di[j] =1   

print(di)

{'a': 3, 'b': 2, 'c': 3, 'd': 5, 'e': 3, 's': 2, 'f': 1, 'v': 1}

In [16]:
for i in range(1,3):
    print("be condifent")

be condifent
be condifent

In [29]:
with open("Python_plan.txt", 'r') as f:
    text = f.read()
    f.close()

In [30]:
text

'Duration: 28/09 → 30/09 — ~6 hrs/day\nGoal: Revise Python from basics → advanced → production, plus NumPy/Pandas essentials for AI workflows. After these 3 days you’ll continue daily practice (1.5 hrs LeetCode + mini-projects).\n\nDay 1 — Python Basics & Core Syntax\n\nFocus (theory + practice):\n\nVariables, types, operators\n\nStrings (slicing, f-strings), formatting\n\nLists, tuples, sets, dicts, comprehensions\n\nControl flow: if/else, for, while, break/continue\n\nFunctions: arguments, *args, **kwargs\n\nModules & imports\n\nHands-on mini projects:\n\nTemperature converter CLI (C↔F)\n\nWord counter CLI (counts words, characters, top N words)\n\nDay 2 — Intermediate & Data Libraries (NumPy + Pandas)\n\nFocus (theory + practice):\n\nA. Advanced Python recap\n\nOOP basics (classes, __init__, __str__)\n\nDecorators, generators (yield), context managers (with)\n\nError handling (try/except), typing basics\n\nB. NumPy essentials (must-know)\n\nndarray, shapes, indexing, slicing\n\nBroadcasting & vectorized operations (no Python loops)\n\nnp.dot, np.matmul, np.linalg basics (norm, inverse)\n\nnp.random (seed, sampling)\n\nPerformance tip: avoid Python loops — use vectorization\n\nC. Pandas essentials (must-know)\n\nSeries & DataFrame basics: read_csv, head, info, describe\n\nIndexing & selection: .loc, .iloc\n\nMissing values: dropna, fillna\n\nGrouping & aggregation: groupby, agg\n\nJoins/merges: merge, concat\n\nDate/time handling: to_datetime, .dt accessors\n\nApply/map, vectorized ops vs apply performance tradeoffs\n\nQuick EDA plots (.plot() or matplotlib / seaborn)\n\nHands-on mini projects:\n\nBuild a small data cleaning pipeline: load CSV → clean missing values → basic feature engineering → save cleaned CSV.\n\nImplement a vectorized cosine similarity function with NumPy and use it to find top-k similar rows in a dataset (toy recommender).\n\nDay 3 — Python for APIs, Production & Testing (plus using Pandas/NumPy in APIs)\n\nFocus (theory + practice):\n\nFastAPI basics: endpoints, Pydantic models, request validation\n\nAsync endpoints (async def) and integration with I/O tasks\n\nWebSockets for streaming responses (FastAPI websockets)\n\nProject structure: modules, packages, __init__.py\n\nLogging (logging), simple pytest tests\n\nUsing NumPy/Pandas in production\n\nServe a model/data processing endpoint that uses Pandas to transform incoming CSV or JSON payloads.\n\nEnsure to convert Pandas results to JSON serializable types before returning (e.g., .to_dict()).\n\nHands-on mini projects:\n\nTo-Do REST API (CRUD) with FastAPI (persist to JSON / SQLite).\n\nAdd an endpoint that accepts a small CSV payload, runs your Day-2 cleaning pipeline (Pandas), then returns summary stats.\n\nImplement a WebSocket chat endpoint that streams simple messages (or streams tokenized outputs for a toy LLM simulator).\n\nAdd unit tests for API endpoints (pytest) and basic logging.'

In [ ]:
# add two numbers prod ready

x: int = 5
y :int = 10
def sum_2(a:int , b: int) ->int:
    return a+b

print(sum_2(x,y))

15

In [8]:
# multiple of 3 numbers

a:int = int(input("enter a num1: ")) 
b :int = int(input("enter num2: "))
c :int = int(input("enter the num3"))

def mul_3(x:int,y:int,z:float)->int:
    return x*y*z

print(mul_3(a,b,c))

27370

In [15]:
a:str ="reetesh"
b:int = 24
c:int=1770000

print(f"my name is {a} and age {b} i earn {c}")

my name is reetesh and age 24 i earn 1770000

In [17]:
print(type(a), type(b), type(c))

<class 'str'> <class 'int'> <class 'int'>

In [20]:
a:int = 10
b = str(a)
print(type(b))

<class 'str'>

In [24]:
# area and perimeter calculation of a rectangle

# area = l*b
# peri = 2(l+b)

l:int = int(input("enter the leght of the rectangle: "))
w:int = int(input("enter the width of the rectangle: "))


def rect_cal(lentgh:int, width:int)->int:
    area = lentgh*width
    peri = 2*(lentgh+width)
    return "area is ",area, "perimeter is ",peri

print(rect_cal(l,w))

('area is ', 5963, 'perimeter is ', 312)

In [27]:
pri:int = 1200
dis:int  = 0.10
offer =  pri*dis
print(pri-offer)

1080.0

In [29]:
n=27
b=3
c=2

if n%b==0:
    print("yes")
if n%c==0:
    print("yes")

else:
    print("not divisible")

yes
not divisible

In [30]:
a:list = ["apple", "bannana", "strawbeery", "watermelon"]
print(a)
a.append("jackfruit")
print(a)

['apple', 'bannana', 'strawbeery', 'watermelon']
['apple', 'bannana', 'strawbeery', 'watermelon', 'jackfruit']

In [33]:
a = ("reetesh", 1234)
# a[0] = "riti"

In [36]:
age :int = int(input("enter your age: "))
if age>=18:
    print("you can vote ")
else:
    print("you are not elegible for voting")

you can vote

In [38]:
num:int = int(input("enter any number: "))
if num>=50 and num<=100:
    print("its between 50 and 100")
else:
    print("number is less then 50 or more then 100")

number is less then 50 or more then 100

In [40]:
city = ["blr", "bdvt", "smg", "tkr", "shir"]
if "bl" in city:
    print("yes")
else:
    print("no")

no

In [48]:
city = ["blr", "bdvt", "smg", "tkr", "shir"]
citi =  ["blr", "bdvt", "smg", "shir", "tkr"]

if city == citi:
    print("yes")

else:
    print("no")

no

In [50]:
print(["yes"  for i in city if i in citi])

['yes', 'yes', 'yes', 'yes', 'yes']

In [54]:
sal:int = int(input("enter your annual salary: "))
std_ded:int = 75000
tax_able:int = sal-std_ded
print(tax_able)

def slab_15(taxable:int)->int:
    tax:float = 0.15
    tax_paid = tax*taxable
    final_sal =  taxable - tax_paid
    mntly_sal = final_sal/12
    mntly_tax = tax_paid/12

    return "final annual salary", final_sal, "monthly inhand salary",mntly_sal, "total tax paid", tax_paid, "monthly tax paid",mntly_tax

def slab_20(taxable:int)-> int:
    tax:float=0.20
    tax_paid = taxable*tax
    final_sal = taxable-tax_paid
    mntly_sal = final_sal/12
    mntly_tax = tax_paid/12
    
    return "final annual salary", final_sal, "monthly inhand salary",mntly_sal, "total tax paid", tax_paid, "monthly tax paid",mntly_tax


if tax_able>=1200000 and tax_able<1600000:
    print(slab_15(tax_able))

if tax_able>=1600000 and tax_able<2000000:
    print(slab_20(tax_able))

1575000
('final annual salary', 1338750.0, 'monthly inhand salary', 111562.5, 'total tax paid', 236250.0, 'monthly tax paid', 19687.5)

In [58]:
empl = {'name':"reetesh v", 'age':24, 'salary':1770000}
empl['salary']=2000000
print(empl)

{'name': 'reetesh v', 'age': 24, 'salary': 2000000}